<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item lines="none">
    <ion-avatar>
      <img
        src="https://scontent.fcue3-1.fna.fbcdn.net/v/t1.6435-9/150408441_1112002532604369_7420898715535357100_n.jpg?_nc_cat=101&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=aOzBYzThPDIAX8ylSki&_nc_ht=scontent.fcue3-1.fna&oh=00_AT-PxZKpYJcASHAwC2jioextD6LrkdHGx2L9NB-J0MmIqA&oe=621355F8"
        alt="avatar"
      />
    </ion-avatar>
    <ion-label>
      <h2>Desarrollado por: <br> Josue Peñafiel</h2>
      <h3>Curso: 3E2</h3>
    </ion-label>
  </ion-item>
</ion-content>
