<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header>Bienvenido</ion-list-header>
          <ion-menu-toggle auto-hide="false">
            <ion-item (click)="goHome()" lines="none">
              <ion-icon
                slot="start"
                name="home"
                ios="home-outline"
                md="home-sharp"
                class="icon-logo"
              ></ion-icon>
              <ion-label>Home</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false">
            <ion-item (click)="goSearch()" lines="none">
              <ion-icon
                slot="start"
                name="search"
                ios="search-outline"
                md="search-sharp"
                class="icon-logo"
              ></ion-icon>
              <ion-label>Buscador</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false">
            <ion-item (click)="goInfo()" lines="none">
              <ion-icon
                slot="start"
                name="information"
                ios="information-outline"
                md="information-sharp"
                class="icon-logo"
              ></ion-icon>
              <ion-label>Acerca de</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false">
            <ion-item (click)="logout()" lines="none">
              <ion-icon
                slot="start"
                name="log-out"
                ios="log-out-outline"
                md="log-out-sharp"
                class="icon-logo"
              ></ion-icon>
              <ion-label>Logout</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
