<ion-content [fullscreen]="true">
  <ion-slides pager="trues" [options]="slideOpts">
    <ion-slide>
      <ion-icon name="close" class="icon-close"> </ion-icon>
      <img src="../../assets/img/uets.png" />
      <section class="slide-content">
        <h1>Escucha tu música</h1>
        <h2>En cualquier lugar</h2>
        <p>
          Los mejores albumentos de la música, en cualquier momento, en
          cualquier lugar.
        </p>
        <ion-icon name="play" slot="start"></ion-icon>
      </section>
    </ion-slide>
    <ion-slide>
      <ion-icon name="close" class="icon-close"> </ion-icon>
      <img src="../../assets/img/uets.png" />
      <section class="slide-content">
        <h1>Modo búsqueda</h1>
        <h2>Busca tus canciones en esta aplicación</h2>
        <p>
          En esta aplicación podrás buscar tus canciones favoritas,
        </p>
        <ion-icon name="search" slot="start"></ion-icon>
      </section>
    </ion-slide>
  </ion-slides>
</ion-content>
