
ion-content{
  --ion-background-color: var(--ion-color-first);
}

.figure-logo{
  margin: 60px 0px 0;
}

.logo-title{
  font-size: 40px;
  margin: 70px 0px 0;
  color: var(--ion-color-sixth);
  font-family: 'Poppins Medium';
}

.figure-logo .icon-logo{
  color: var(--ion-color-fifth);
  width: 150px;
  height: 150px;
}

.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}

.form-input{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: 10px 0;
  font-family: 'Poppins Regular';
}

.form-input .form-input-data{
  font-family: 'Poppins Regular';
  color: var(--ion-color-fifth);
}
::placeholder{
  color: var(--ion-color-fifth);
}

.register-button{
  width: 70%;
  margin: 20px 0;
  --background: var(--ion-color-sixth);
  font-family: 'Poppins Medium';
}

.validation-error{
  color: var(--ion-color-danger-tint);
}

.register-text{
  color: var(--ion-color-fifth);
  font-family: 'Poppins Regular';
}

.register-text a{
  color: var(--ion-color-sixth);
  font-family: 'Poppins Medium';
}

