<ion-content>
  <figure class="ion-text-center figure-logo">
    <ion-icon name="headset" class="icon-logo"></ion-icon>
    <h1 class="logo-title">Regístrate</h1>
  </figure>
  <form [formGroup]="registerForm" (ngSubmit)="registerUser(registerForm.value)" class="form">
    <div class="validation-error">
      <ng-container *ngFor="let validation of validationMessages.name">
        <div
          *ngIf="registerForm.get('name').hasError(validation.type) && (registerForm.get('name').dirty||registerForm.get('name').touched)"
        >
          {{ validation.message }}
        </div>
      </ng-container>
    </div>
    <ion-item class="form-input">
      <ion-input
        formControlName="name"
        placeholder="ingrese su nombre"
        class="form-input-data"
      ></ion-input>
    </ion-item>
    <div class="validation-error">
      <ng-container *ngFor="let validation of validationMessages.lastName">
        <div
          *ngIf="registerForm.get('lastName').hasError(validation.type) && (registerForm.get('lastName').dirty||registerForm.get('lastName').touched)"
        >
          {{ validation.message }}
        </div>
      </ng-container>
    </div>
    <ion-item class="form-input">
      <ion-input
        formControlName="lastName"
        placeholder="ingrese su apellido"
        class="form-input-data"
      ></ion-input>
    </ion-item>
    <div class="validation-error">
      <ng-container *ngFor="let validation of validationMessages.email">
        <div
          *ngIf="registerForm.get('email').hasError(validation.type) && (registerForm.get('email').dirty||registerForm.get('email').touched)"
        >
          {{ validation.message }}
        </div>
      </ng-container>
    </div>
    <ion-item class="form-input">
      <ion-input
        formControlName="email"
        placeholder="ingrese su correo"
        class="form-input-data"
      ></ion-input>
    </ion-item>
    <div class="validation-error">
      <ng-container *ngFor="let validation of validationMessages.password">
        <div
          *ngIf="registerForm.get('password').hasError(validation.type) && (registerForm.get('password').dirty||registerForm.get('password').touched)"
        >
          {{ validation.message }}
        </div>
      </ng-container>
    </div>
    <ion-item class="form-input">
      <ion-input
        formControlName="password"
        type="password"
        placeholder="ingrese contraseña"
        class="form-input-data"
      ></ion-input>
    </ion-item>
    <ion-button [disabled]="!registerForm.valid" type="submmit" class="register-button">Regístrarse</ion-button>
    <div>
      <span class="register-text">¿Ya tienes cuenta? <a (click)="loginPage()">Inicia Sesión</a></span>
    </div>
  </form>
</ion-content>
